@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
    --text-color: rgb(40, 40, 40);
    --text-color-dark: cadetblue;
    --bg-color: hsl(252, 5%, 85%);
    --color-primary: cadetBlue;
    --color-secondary: #9b363b;
    --color-gray: hsl(0, 0%, 90%);
    --color-dark-gray: rgb(155, 155, 155);
    --color-white: white;
    --color-light: rgb(168, 168, 168);
    --color-light-gray: hsl(0, 0%, 90%);
    
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --border-radius: 2rem;
    --card-padding: 1rem;
    --card-border-radius: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color-dark);
    background-color: var(--bg-color);
    overflow-x: hidden;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.profile-picture {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.big-profile-picture {
    width: 6rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

.btn-secondary {
  background-color: var(--color-light-gray);
  color: black;
}

.text-bold {
    font-weight: 500;
}

.usertag {
    color: var(--color-dark-gray);
}

/* NAVBAR */
header {
    width: 100%;
    background-color: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    z-index: 10;
}

/* LOGO */
header .logo {
    font-size: 2.5em;
    text-decoration: none;
    color: cadetblue;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .search-bar {
    background: var(--color-light-gray);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    display: flex;
    flex-flow: row;
    justify-content: baseline;
    align-items: center;
}

header .search-bar label {
    display: flex;
    flex-flow: baseline;
}

header .search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(black);
}

header .search-bar input[type="search"]::placeholder {
    color: var(--color-dark-gray);
}

header .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:not(.search-result) {
  cursor: pointer;
}

.dropdown.usr-actions:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: box-shadow 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 1rem;
    font-size: 0.8rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: var(--color-white);
    border-radius: 1.5rem;
    padding: var(--search-padding);
}

.dropdown-content a {
    color: black;
    padding: 1rem 1.1rem;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 1rem;
    transition: all 300ms ease;
}

.dropdown-content.active {
    display: block;
}

.dropdown-content.inactive {
    display: none;
}

header .dropdown.search-result .dropdown-content {
    width: 100%;
}

header .dropdown.search-result .dropdown-content li {
    overflow: hidden;
    margin: 0.2rem;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-light);
}

header .dropdown.search-result .dropdown-content li:hover {
    background-color: var(--color-light);
    transition: all 300ms ease;
}

header .dropdown-content li {
    position: relative;
    display: inline-block;
}

header .dropdown .notification-badge,
header .dropdown-content .notification-badge {
    display: none;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.6rem;
    position: absolute;
    top: 0;
    right: 0;
}

header .dropdown>.notification-badge {
    top: -0.5rem;
    right: -1rem;
}

/* MAIN */
.main {
    position: relative;
    top: 5.4rem;
}

.main .container {
    display: grid;
    grid-template-columns: 3.4rem auto;
    column-gap: 2rem;
    position: relative;
}

.main .container .left {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}

.main .container .left .profile {
    display: none;
}

/* SIDEBAR */
.left .sidebar {
    margin-top: 1rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item,
.left .sidebar .menu-item a {
    display: flex;
    align-items: center;
    height: 3rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
    color: var(--color-primary);
}

.left .sidebar .menu-item:hover {
    background-color: var(--color-light-gray);
}

.left .sidebar span {
    font-size: 2rem;
    color: var(--color-light);
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    position: relative;
}

.left .sidebar h2 {
    display: none;
}

.left .sidebar .active {
    background: var(--color-light-gray);
}

.left .sidebar .active span,
.left .sidebar .active h2 {
    color: var(--color-primary);
}

.left .sidebar .active::before {
    content: "";
    display: block;
    width: 0.4rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active, 
.sidebar .menu-item:first-child:hover {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .sidebar .menu-item:last-child.active,
.left .sidebar .menu-item:last-child {
    border-bottom-left-radius: var(--card-border-radius);
    border-bottom-right-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .medium-btn {
    display: none;
}

.left .small-btn {
    margin-top: 1rem;
    padding: 0.9rem 1rem;
    border-radius: 50%;
}

/* MIDDLE */

.middle .timeline .post {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}


.middle .timeline .post .post-head {
    display: flex;
    justify-content: space-between;
}

.middle .timeline .post a {
    text-decoration: none;
    color: var(--color-primary);
}

.middle .timeline .post h3 {
    font-size: large;
    font-size: 1.5rem;    
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
}

.middle .timeline .post h3:hover {
    text-decoration: underline;
}

.middle .timeline .post-head .usr-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.middle .timeline .post-head .usr-info .usertag:hover {
  text-decoration: underline;
}

.middle .timeline .post-head .profile-picture {
    width: 2rem;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.5s;
}

.middle .timeline .post-head .profile-picture:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
}
.middle .timeline .post-body {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.middle .timeline .post-body p.caption {
  color: var(--text-color);
}

.middle .timeline .post-body img {
    border-radius: var(--card-border-radius);
    max-width: 100%;
    max-height: 20rem;
    aspect-ratio: 16/9;
    overflow: hidden;
    margin: 0.7rem 0;
    object-fit: contain;
}

.middle .timeline .post-body .interaction-buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
    font-size: 2rem;
    margin: 0.6rem;
}

.middle .timeline .profile-infobox {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .timeline .profile-infobox .profile-infobox-head {
    display: flex;
    justify-content: space-between;
}

.middle .timeline .profile-infobox .profile-infobox-head .profile-usr-info {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.middle .timeline .profile-infobox .profile-infobox-head .profile-usr-info .nametags h3 {
    font-size: large;
    font-size: 1.5rem;
}

.middle .timeline .profile-infobox .profile-infobox-body {
    margin: 1rem;
}

.middle .timeline .profile-infobox .profile-infobox-body .profile-descr {
    color: var(--text-color);
    font-size: 1rem;
    margin: 1rem 0;
}

.middle .timeline .profile-infobox .profile-infobox-body .follow-info {
    display: flex;
    align-items: flex-start;
}

.middle .timeline .profile-infobox .profile-infobox-body .follow-info .followers-data {
    margin-right: 1rem;
}


.middle .timeline .info-tag, .middle .timeline .nc-info-tag {
    font-weight: bold;
    margin-right: 0.2rem;
}

.middle .timeline .following-link, .middle .timeline .followers-link {
  cursor: pointer;
}

.middle .timeline .info-tag:hover {
  text-decoration: underline;
}

.middle .timeline .follow-info a {
    text-decoration: none;
    color: var(--color-primary);
}

.middle .timeline .post-body .profile-interaction-buttons {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: baseline;
    font-size: 2rem;
    margin: 0.6rem;
}

.middle .timeline .post-body .profile-interaction-buttons label {
    margin-right: 1rem;
}

.middle .timeline .post-body .like-comment-div label {
    margin-right: 0.4rem;
}

.middle .timeline .post .participantsLink, .middle .timeline .post .likesLink {
  cursor: pointer;
  color: var(--color-light);
}

.middle .timeline .post-body .profile-interaction-buttons a {
    text-decoration: none;
    color: var(--color-primary);
}

.middle .timeline .post-not-present {
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle .timeline .post-not-present p {
    font-size: 1rem;
}

.middle .timeline .edit-profile-msg {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle .timeline .edit-profile-msg p {
    font-size: 1rem;
}

.middle .timeline .edit-profile-msg .modify-text {
    color: var(--color-secondary);
    margin: 0 1rem;
}

.middle .timeline .edit-profile-msg .modify-text:hover {
    text-decoration: underline;
}

.middle .timeline .edit-profile-msg span {
    color: var(--color-secondary);
    margin: 0 1rem;
    cursor: pointer;
}

.middle .timeline .edit-profile-msg span:hover {
    text-decoration: underline;
}

.middle .timeline .post-body .post-stats {
    margin-top: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-right: 2rem;
}

.middle .timeline .post-body .post-stats a {
    color: var(--color-light);
}

.middle .timeline .post-body .post-stats a:hover {
  text-decoration: underline;
}

.middle .timeline .post-body .date-location {
    /* margin: -0.5rem 0 0; */
    opacity: 70%;
    color: var(--color-light);
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 1rem;
}

.middle .timeline .post-body .date-location-item {
    /* margin: 0.5rem 1rem 0.5rem 0; */
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-size: 0.8rem;
}

.middle .timeline .profile-infobox-head #modify-btn,
.middle .timeline .profile-infobox-head #follow-btn,
.middle .timeline .profile-infobox-head #unfollow-btn {
    display: none;
}

.middle .timeline .profile-infobox-head #manage_accounts {
    display: flex;
    font-size: 2rem;
    background-color: var(--color-light-gray);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    color: black;
    cursor: pointer;
}

.middle .timeline .profile-infobox-head span {
    display: flex;
    font-size: 2rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    color: white;
    cursor: pointer;
}

.middle .timeline .comment {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .timeline .comment-head {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.middle .timeline .comment-head a {
  color: var(--color-primary);
}

.middle .timeline .comment-head a:hover {
  text-decoration: underline;
}

.middle .timeline .comment-head img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

.middle .timeline .comment-head p {
    color: var(--color-light);
}

.middle .timeline .comment-form {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    display: flex;
    align-items: stretch;
    width: 100%;
    position: sticky;
    bottom: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.middle .timeline .comment-form textarea {
    flex: 1;
    margin-right: 1rem;
    resize: none;
}

.middle .timeline p.comment-body {
  color: var(--text-color);
}

/* RIGHT: displayed only on big screens */

.main .container .right {
    display: none;
}

/* The modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 50%;
    border-radius: var(--card-border-radius);
}

/* The close button */
.modal .closeBtn {
    color: #aaa;
    float: right;
    font-size: 2.8rem;
    font-weight: bold;
}

.modal .closeBtn:hover,
.modal .closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal a {
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
}

.modal a strong:hover {
    text-decoration: underline;
}

.modal#notifications-modal .modal-content {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal .modal-head {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  background-color: white;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin-bottom: 2rem;
}

.modal .notifications li a {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem 1rem;
    overflow: hidden;
    background-color: #fefefe;
    border-radius: var(--card-border-radius);
    transition: .2s ease-in;
}

.modal .notifications li a img {
  display: none;
}

.modal .notifications p.msg {
  display: none;
}

.modal .notifications li a.read {
  background-color: #c8c8c8;
}

.modal .notifications li * {
    margin: 0 3%;
}

.modal .notifications li p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .notifications li .profile-picture {
    margin: 0 1rem;
}

.modal .notifications li a:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
}

.modal .userinfo {
  margin: 1rem 0;
  gap: 1rem;
  display: flex;
  flex-flow: row;
}

.modal .userinfo .profile-picture {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.modal .user-name {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.modal .user-name h3:hover {
  text-decoration: underline;
}

/* animation for suggestion disappear once clicked follow btn*/
.disappearing-card {
    animation: hideCard .5s forwards;
}

@keyframes hideCard {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.btn:disabled {
    background-color: var(--color-light);
    cursor: auto;
}

.btn:disabled:hover {
    opacity: 1;
}


@media screen and (min-width: 1000px) {
    .container {
        width: 90%;
    }

    .main .container {
        grid-template-columns: 14rem auto 17rem;
    }

    .main .container .left .profile {
        padding: var(--card-padding);
        background-color: var(--color-white);
        border-radius: var(--card-border-radius);
        display: flex;
        align-items: center;
        column-gap: 1rem;
        width: 100%;
    }

    .main .container .left .profile a {
        color: var(--color-primary);
    }

    .main .container .left .profile .profile-picture:hover {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.5s;
    }
    
    .main .container .left .profile .handle .user-name:hover {
      text-decoration: underline;
    }

    /* show right panel */
    .main .container .right {
        display: flex;
        justify-content: center;
        flex-flow: column;
        position: sticky;
        height: max-content;
        top: var(--sticky-top-left);
        bottom: 0;
    }

    .main .container .right .users-suggestions-wrapper {
        background-color: var(--color-white);
        border-radius: var(--card-border-radius);
        padding: var(--card-padding);
    }

    .main .container .right .calendar-wrapper {
        margin-top: 1rem;
        background-color: var(--color-white);
        border-radius: var(--card-border-radius);
        padding: var(--card-padding);
    }

    .main .container .right h2 {
        font-size: 1.4rem;
    }

    .right ul {
        display: flex;
        flex-flow: column;
    }

    .right ul li {
        font-size: 0.8rem;
        display: flex;
        flex-flow: column;
        margin-bottom: 1rem;
    }

    .right ul li .userinfo {
        margin: 1rem 0;
        gap: 1rem;
        display: flex;
        flex-flow: row;
    }
    
    .right ul li .userinfo .user-name a {
      color: var(--color-primary);
    }

    .right ul li .userinfo .user-name a:hover {
      text-decoration: underline;
    }

    .right ul li .btn {
        width: 100%;
    }

    .left .sidebar span {
        font-size: 1.5rem;
    }

    .left .sidebar h2 {
        display: flex;
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    .left .btn {
        display: flex;
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }

    .left .medium-btn {
        display: block;
    }

    .left .small-btn {
        display: none;
    }

    .middle .timeline .profile-infobox {
        margin-top: -1rem;
    }

    .middle .timeline .profile-infobox-head #manage_accounts {
        display: none;
    }

    .middle .timeline .profile-infobox-head span {
        display: none;
    }

    .middle .timeline .profile-infobox-head #modify-btn,
    .middle .timeline .profile-infobox-head #follow-btn,
    .middle .timeline .profile-infobox-head #unfollow-btn {
        display: flex;
    }

    .modal .notifications li a img {
      display: flex;
    }

    .modal .notifications p:not(.usertag) {
      display: flex;
    }

    .dropdown.actions-dropdown .dropdown-content {
      right: inherit;
    }
}
