@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');


:root {
    --color-dark: #07313d;
    --color-medium: cadetBlue;
    --color-light: #92b9b9;

    --color-hover: #115d73;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
	background: linear-gradient(to bottom, var(--color-dark), var(--color-medium), var(--color-light));
}

main {
    width: 20rem;
    height: 32rem;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

input[type="checkbox"] {
    display: none;
}

section.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #fff;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 60%;
    height: 1.2rem;
    background-color: #e0dede ;
    display: flex;
    justify-content: center;
    margin: 0.2rem auto;
    padding: 0.2rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
}

input[type="button"] {
    width: 60%;
    height: 2.2rem;
    margin: 0.7rem auto;
    justify-content: center;
    display: block;
    color: #fff;
    background-color: var(--color-dark);
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    transition: .2s ease-in;
    cursor: pointer;
}

input[type="button"]:hover {
    background: var(--color-hover);
}

section.login {
    height: 15rem;
    padding: 0.5rem;
    background-color: var(--color-dark);
    border-radius: 60%/10%;
    transform: translateY(-6rem);
    transition: .8s ease-in-out;
}

section.login label {
    color: #fff;
    transform: scale(.6);
}

#checkbox:checked ~section.login {
    transform: translateY(-20rem);
}


#checkbox:checked ~section.login label {
    transform: scale(1);
}

#checkbox:checked ~section.signup label {
    transform: scale(.6);
}